<!doctype html>
<body>
    <p>
        Dear Sir/Madam,
    </p>

    <p>
        During the last few months, the <a href="http://www.uu.nl/en">University of Utrecht</a> has run a research project on contributions by companies to open source communities. While studying the software ecosystem around <a href="https://www.eclipse.org/">Eclipse</a> on <a href="https://github.com/eclipse">Github</a>, your profile has popped up on the radar.
    </p>

    <p>
        Based on publicly available information, your employer has been identified as:
    </p>

    <p>
        <strong>{company}</strong>
    </p>

    <p>
        To validate the findings of the research project, could you please indicate whether this is correct?
    </p>
    <p>
        <a href="http://www.jakobbuis.nl/uucpva/{id}/correct">Yes, {company} is correct</a>
        <a href="http://www.jakobbuis.nl/uucpva/{id}/wrong">No, I do not work at {company}</a>
    </p>

    <p>
        With kind regards,<br>
        Jakob Buis <br>
        University of Utrecht <br>
        <a href="mailto:jakob@jakobbuis.nl?subject=[UUCPVA]" "jakob@jakobbuis.nl">jakob@jakobbuis.nl</a>
    </p>
</body>
</html>
