td {
    padding: 1em;
}

tr { background-color: #3498db; }               /* Everything classified as not eclipse is blue */
tr.eclipse { background-color: #2ecc71; }       /* Eclipse repositories are green*/
tr.duplicate { background-color: #e74c3c; }     /* Duplicates are red */
tr.unknown { background-color: white; }         /* Everything unknown is white */
